body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #A5A5A5;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.logo-bmkg {
    float: right;
    height: 50px;
    width: 70px;
}

.card{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #A5A5A5;
    background-color: #ffffff;
    length: 300px;
    width: 300px;
    padding: 100px;
    margin-top: 80px;
    margin-left: 400px;
}

.button-klim{
    border-radius: 10px;
    margin-top: 50px;
    background-color: #6a097d;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}