body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #A5A5A5;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.logo-bmkg {
    float: right;
    height: 50px;
    width: 70px;
}

.card {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #A5A5A5;
    background-color: #ffffff;
    length: 300px;
    width: 300px;
    padding: 100px;
    margin-top: 80px;
    margin-left: 400px;
}

.card ul {
    list-style: none;
}

.dropbtn-db {
    align-content: center;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-db {
    margin-left: 70px;
    position: relative;
    display: inline-block;
}

.dropdown-content-db {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-db a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-db a:hover {background-color: #f1f1f1}

.dropdown-db:hover .dropdown-content-db {
    display: block;
}

.dropdown-db:hover .dropbtn-db {
    background-color: #3e8e41;
}

.dropbtn-qc {
    align-content: center;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-qc {
    margin-left: 70px;
    position: relative;
    display: inline-block;
}

.dropdown-content-qc {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-qc a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content-qc a:hover {background-color: #f1f1f1}

.dropdown-qc:hover .dropdown-content-qc {
    display: block;
}

.dropdown-qc:hover .dropbtn-qc {
    background-color: #3e8e41;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #A5A5A5;
    width: 100%;
    text-align: center;
}